*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
/app/.idea/.gitignore
/app/.idea/AndroidProjectSystem.xml
/backup/app_database
/backup/app_database-shm
/backup/app_database-wal
/backup/bible_verse_database
/backup/bible_verse_database-shm
/backup/bible_verse_database-wal
/app/.idea/caches/deviceStreaming.xml
/app/.idea/gradle.xml
/app/.idea/migrations.xml
/app/.idea/misc.xml
/app/.idea/runConfigurations.xml
/app/.idea/vcs.xml
/.idea/.name
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deviceManager.xml
/.idea/studiobot.xml
